Repository Stringsaeed/StockMarketApp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bun eslint {staged_files}
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun tsc-files --noEmit {staged_files}
    format:
      glob: '*.{js,ts,jsx,tsx,json}'
      run: bun prettier --check {staged_files}

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

feat: setup fastlane and rename package
  Gemfile
  android/app/src/main/java/com/stringsaeed/thndr_task/MainActivity.kt
  android/app/src/main/java/com/stringsaeed/thndr_task/MainApplication.kt
  fastlane/.gitignore
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Matchfile
Due: none

ci: add github actions workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

chore: update project configuration
  Gemfile.lock
  android/app/build.gradle
  android/app/src/main/java/com/stockmarketapp/MainActivity.kt
  android/app/src/main/java/com/stockmarketapp/MainApplication.kt
  ios/StockMarketApp.xcodeproj/project.pbxproj
  ios/StockMarketApp/Info.plist
  package.json
Due: format

feat: add NASDAQ logo assets for iOS
  ios/StockMarketApp/Images.xcassets/Contents.json
  ios/StockMarketApp/Images.xcassets/nasdaq_logo.imageset/Contents.json
  ios/StockMarketApp/Images.xcassets/nasdaq_logo.imageset/nasdaq.svg
Due: format

feat: add DM Sans font family and configure font assets
  android/app/src/main/res/font/dm_sans.xml
  android/app/src/main/res/font/dmsans_black.ttf
  android/app/src/main/res/font/dmsans_bold.ttf
  android/app/src/main/res/font/dmsans_extrabold.ttf
  android/app/src/main/res/font/dmsans_extralight.ttf
  android/app/src/main/res/font/dmsans_light.ttf
  android/app/src/main/res/font/dmsans_medium.ttf
  android/app/src/main/res/font/dmsans_regular.ttf
  android/app/src/main/res/font/dmsans_semibold.ttf
  android/app/src/main/res/font/dmsans_thin.ttf
  android/link-assets-manifest.json
  ios/link-assets-manifest.json
  react-native.config.js
  src/assets/fonts/DMSans-VariableFont_opsz,wght.ttf
Due: lint, format

feat: set up initial project structure with components, navigation, screens, and services
  src/components/ErrorMessage.tsx
  src/components/LoadingIndicator.tsx
  src/components/icons/nasdaq-icon.tsx
  src/components/ui/button.tsx
  src/features/stocks/components/list-item/index.tsx
  src/features/stocks/components/list-item/styles.ts
  src/features/stocks/components/list-item/types.ts
  src/features/stocks/components/list/index.tsx
  src/features/stocks/components/list/styles.ts
  src/features/stocks/components/list/types.ts
  src/features/stocks/hooks/useStocks.ts
  src/features/stocks/index.ts
  src/hooks/useDebounce.ts
  src/hooks/useSearch.ts
  src/navigation/AppNavigator.tsx
  src/screens/ExploreScreen/index.tsx
  src/screens/SplashScreen/index.tsx
  src/services/polygon.ts
  src/types/navigation.ts
  src/types/stocks.ts
  src/types/utils.ts
Due: lint, typecheck, format

chore: update dependencies for React Navigation, React Query, and UI components
  bun.lock
  package.json
Due: format

feat: configure App with React Query, dark theme, and navigation setup
  App.tsx
  __tests__/App.test.tsx
Due: lint, typecheck, format

chore: update ESLint configuration for improved code quality
  .eslintrc.js
Due: lint, format

chore: update platform-specific configurations for iOS and Android
  .vscode/settings.json
  android/app/build.gradle
  android/app/src/main/java/com/stringsaeed/thndr_task/MainApplication.kt
  ios/Podfile.lock
  ios/StockMarketApp.xcodeproj/project.pbxproj
  ios/StockMarketApp/Info.plist
  ios/StockMarketApp/LaunchScreen.storyboard
Due: format

feat: add NASDAQ logo SVG asset
  src/assets/logos/nasdaq.svg
Due: none

chore: update .prettierignore to exclude Lottie animation files
  .prettierignore
Due: none

feat: add Lottie animations for loading and error states
  src/assets/lottie/error-animation.json
  src/assets/lottie/loading-animation.json
Due: format

test: add comprehensive test suite for components, hooks and services
  .eslintignore
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/ci.yml
  __tests__/App.test.tsx
  __tests__/components/ErrorMessage.test.tsx
  __tests__/components/LoadingIndicator.test.tsx
  __tests__/components/icons/Icons.test.tsx
  __tests__/components/icons/NasdaqIcon.test.tsx
  __tests__/components/icons/__snapshots__/Icons.test.tsx.snap
  __tests__/components/icons/__snapshots__/NasdaqIcon.test.tsx.snap
  __tests__/components/ui/Button.test.tsx
  __tests__/components/ui/README.md
  __tests__/components/ui/__snapshots__/Button.test.tsx.snap
  __tests__/features/stocks/components/StockItem.test.tsx
  __tests__/features/stocks/components/StocksList.test.tsx
  __tests__/features/stocks/hooks/useStocks.test.tsx
  __tests__/hooks/useDebounce.test.tsx
  __tests__/hooks/useSearch.test.tsx
  __tests__/integration/ButtonForm.test.tsx
  __tests__/integration/ButtonIntegration.test.tsx
  __tests__/integration/ButtonNavigation.test.tsx
  __tests__/navigation/AppNavigator.test.tsx
  __tests__/screens/ExploreScreen.test.tsx
  __tests__/screens/SplashScreen.test.tsx
  __tests__/services/polygon.test.ts
  bun.lock
  jest.config.js
  jest_setup.ts
  package.json
  src/components/ErrorMessage.tsx
  src/components/LoadingIndicator.tsx
  src/features/stocks/components/list-item/index.tsx
  src/features/stocks/components/list/index.tsx
  src/navigation/AppNavigator.tsx
  src/screens/ExploreScreen/index.tsx
  src/screens/SplashScreen/index.tsx
  test-utils/nock.ts
  test-utils/render.tsx
  tsconfig.json
Due: lint, typecheck, format

chore: update readme
  README.md
Due: none

chore: update bun.lock with dependency version changes and rename workspace
  bun.lock
Due: none

feat: add Fastlane support for iOS build and TestFlight deployment
  .env.example
  .github/workflows/build.yml
  .gitignore
  Gemfile.lock
  fastlane/Fastfile
  fastlane/README.md
Due: none

docs: enhance README with app preview images and update clone instructions
  .github/assets/Explore.jpeg
  .github/assets/Search.jpeg
  .github/assets/Splash.jpeg
  README.md
Due: none

test: update component tests to use toHaveStyle and toHaveProp for style and prop assertions
  __tests__/components/LoadingIndicator.test.tsx
  __tests__/components/icons/NasdaqIcon.test.tsx
  __tests__/integration/ButtonForm.test.tsx
Due: lint, typecheck, format

feat: enhance ExploreScreen with custom StatusBar settings using useLayoutEffect
  src/screens/ExploreScreen/index.tsx
Due: lint, typecheck, format

docs: update README with Android app preview images and installation instructions
  .github/assets/android/Explore.png
  .github/assets/android/Search.png
  .github/assets/android/Splash.png
  README.md
Due: none

feat: implement automated release process with release-it and GitHub Actions
  .github/workflows/release.yml
  .release-it.json
  README.md
  __tests__/components/ui/README.md
  bun.lock
  fastlane/README.md
  package.json
  scripts/update-version.js
Due: lint, format

chore: add changelog plugin
  .release-it.json
  bun.lock
  package.json
Due: format

fix: update Fastlane commands in update-version.js to include platform specification
  scripts/update-version.js
Due: lint, format

feat: add Fastlane versioning lane and update Gemfile for plugin integration
  Gemfile
  Gemfile.lock
  android/app/build.gradle
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
  ios/StockMarketApp.xcodeproj/project.pbxproj
  ios/StockMarketApp/Info.plist
  scripts/update-version.js
Due: lint, format

fix: update console log message in update-version.js for clarity and ensure process exits cleanly
  scripts/update-version.js
Due: lint, format

chore: remove release notes generation from release-it configuration
  .release-it.json
Due: format

chore: release v0.1.0
  CHANGELOG.md
  android/app/build.gradle
  ios/StockMarketApp.xcodeproj/project.pbxproj
  ios/StockMarketApp/Info.plist
  package.json
Due: format

chore: remove fastlane-plugin-increment_version_code from Gemfile.lock
  Gemfile.lock
Due: none

chore: release v1.0.0
  CHANGELOG.md
  android/app/build.gradle
  ios/StockMarketApp.xcodeproj/project.pbxproj
  ios/StockMarketApp/Info.plist
  package.json
Due: format
